/* 主页08_mi.html的样式表 */

/* 顶部导航条的容器 */
.topbar-wrapper{
    /* 设置宽度全屏 */
    width: 100%;
    /* 设置高度和行高 */
    height: 40px;
    line-height: 40px;
    /* 设置背景颜色 */
    background-color: #333;
}
/* 设置服务导航条及各个服务 */
.service,.topbar li{
    float: left;
}
/* 设置登录注册导航条及购物车 */
.shop-cart,.user-info{
    float: right;
}
/* 设置超链接 */
.topbar a{
    font-size: 12px;
}
/* 设置超链接移入的效果 */
.topbar a:hover{
    color: rgb(255 255 255);
}
/* 设置顶部导航栏分割线 */
.topbar .line{
    font-size: 12px;
    color: rgb(66 66 66);
    margin: 0 8px;
}
/* 给弹出层开启相对定位 */
.app{
    position: relative;
}
/* 设置app下的小三角 */
.app::before{
    /* 隐藏小三角 */
    display: none;
    content: '';
    /* 设置绝对定位 */
    position: absolute;
    /* 设置小三角 */
    width: 0px;
    height: 0px;
    border: 8px transparent solid;
    /* 去除上边框 */
    border-top: none;
    /* 单独设置下边框的颜色 */
    border-bottom-color:#fff;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
/* 设置下载app的下拉 */
.app .qrcode{
    /* 隐藏二维码 */
    /* display: none; */
    width: 124px;
    /* height: 148px; */
    /* 将高度设置为0，同时裁掉溢出部分 */
    height: 0px;
    overflow: hidden;
    /* 设置行高，来调整二维码中文字的位置 */
    line-height: 1;
    /* 将二维码文字居中 */
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: absolute;
    left: -40px;
    /* 用于为样式设置过渡效果：将高度显示的时间设置为0.3秒 */
    transition: height 0.3s;
    z-index: 999;
}
/* 设置二维码图片 */
.app .qrcode img{
    width: 90px;
    height: 90px;
    margin: 21px 17px 12px 17px;
}
/* 设置二维码中的文字 */
.app .qrcode span{
    color: #000;
    font-size: 14px;
}
/* 鼠标移入下载app导航，显示二维码 */
/* 方法一 */
/* .app:hover::before,
.app:hover .qrcode{
    display: block;
}  */
/* 方法二 */
.app:hover::before,
.app:hover .qrcode{
    /* 显示小三角 */
    display: block;
    /* 显示二维码 */
    height: 148px;
}  

/* 设置所在地的下拉容器 */
.location-container{
    position: absolute;
    margin-left: -400px;
    width: 840px;
    /* 隐藏所在地菜单，及裁掉溢出部分 */
    height: 0px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    transition: height 0.3s;
    background-color: #fff;
    z-index: 999;
}
/* 显示所在地下拉框 */
.select-location:hover .location-container{
    display: block;
    height: 628px;
}
/* 所在地的头部 */
.location-head{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #eee;
}
/* 所在地下拉头部的标题 */
.location-head h3{
    font-size: 20px;
    margin-left: 20px;
    color: #424242;
}
/* 所在地的主体部分 */
.location-body{
    width: 800px;
    margin: 0 auto;
}
/* 设置所在地或语言的标题格式 */
.location-title h2,
.location-title h3{
    text-align: center;
    color: #424242;
}
/* 标题 */
.location-title h2{
    margin-top: 35px;
    font-weight: 900;
    font-size: 32px;
}
/* 副标题 */
.location-title h3{
    font-size: 18px;
    margin-bottom: 10px;
}
/* 设置各个语言的格式 */
.location-info li{
    width: 140px;
    height: 40px;
    margin: 10px;
    background-color: #eee;
}
/* 设置各个语言链接 */
.location-info li a{
    font-size: 14px;
    text-align: center;
    color: #757575;
}
/* 鼠标移入各个语言链接 */
.location-info li:hover a{
    background-color: #FF6700;
}

/* 设置购物车的外边距 */
.shop-cart{
    margin-left: 26px;
    position: relative;
}
/* 设置购物车的宽度及居中 */
.shop-cart a{
    width: 120px;
    text-align: center;
}
/* 设置鼠标移入购物车 */
.shop-cart:hover a{
    color: #FF6700;
    background-color: #FFF;
}
.cart-info{
    position: absolute;
    background-color: #FFF;
    z-index: 999;
}
.shop-cart:hover .cart-info{
    height: 100px;
    /* 将文字垂直居中 */
    line-height: 100px;
}
/* 设置购物车里的信息 */
.cart-info{
    width: 316px;
    height: 0px;
    overflow: hidden;
    color: #757575;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin-left: -196px;
    /* 用于为样式设置过渡效果：将高度显示的时间设置为0.3秒 */
    transition: height 0.3s;
}

.header-wrapper{
    position: relative;
    /* background-color: red; */
}
/* 设置中间的header */
.header{
    height: 100px;
    /* background-color: orange; */
}
/* 设置logo */
.header .logo{
    float: left;
    margin-top: 22px;
    width: 55px; 
    height: 55px;
    position: relative;
    /* 裁掉溢出部分，即mi-home */
    overflow: hidden;
}
/* 设置mi-logo和mi-home图片 */
.header .logo a img{
    position: absolute;
    width: 55px; 
    height: 55px;
    /* 要实现动画切换，left必须设置为一个有效值0～55px而不是auto～55px */
    left: 0px;
    transition: left 0.2s;
    /* background-image: url('pic/08/mi_logo.png'); */
    /* background-color: royalblue; */
}
/* 将mi-home图片向左移动 */
.header .logo .mi-home{
    left: -55px;
}
/* 设置鼠标移入以后两个图标的位置 */
/* 将mi-logo隐藏 */
.header .logo:hover .mi-logo{
    left: 55px;
}
/* 将mi-home显示 */
.header .logo:hover .mi-home{
    left: 0px;
}

/* 设置中间导航条 */
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
/* 设置导航条 */
.header .nav{
    width: 850px;
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
    box-sizing: border-box;
    /* background-color: rgb(129, 134, 129); */
}
/* 设置导航条中的li标签 */
.header .nav-wrapper .nav > li{
    float: left;
    margin-right: 20px;
    /* background-color: palevioletred; */
}
.header .nav-wrapper .nav > li > a{
    font-size: 16px;
    color: #333;
}
/* 当鼠标移入中间导航条时变为橙色 */
.header .nav-wrapper .nav > li:hover > a{
    color: #FF6700;
}
/* 隐藏全部商品这个li标签 */
.nav li .all-goods{
    visibility: hidden;
}

.all-goods-wrapper{
    position: relative;
}
/* 设置左侧导航条的样式 */
.left-menu{
    width: 234px;
    height: 460px;
    background-color: rgba(105,101,101,.6);
    position: absolute;
    z-index: 99;
    left:-120px;
    line-height: 1;
    padding-top: 20px;
    box-sizing: border-box;
}

.left-menu a{
    display: block;
    height: 42px;
    line-height: 42px;
    font-size:16px;
    color:#fff;
    margin-left: 30px;
}
.left-menu a i{
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    font-weight: 600;
    margin-right:25px;
    float: right;
}
.left-menu li:hover{
    background-color: #FF6700;
}
/* 设置商品信息 */
.nav .goods-info{
    /* height: 228px; */
    height: 0px;
    overflow: hidden;
    width: 100%;
    /* border-top: 1px solid rgb(224,224,224); */
    /* 设置阴影 */
    /* box-shadow: 0 5px 3px rgba(0,0,0,.2); */
    /* 开启绝对定位，再将header-wrapper开启相对定位 */
    position: absolute;
    background-color: #fff;
    /* 相对于header-wrapper开启绝对定位，向下移动100px，左边与header-wrapper对齐 */
    top:100px;
    left: 0;
    transition: height 0.3s;
    z-index: 999;
}
/* 当鼠标移入商品时的样式 */
.nav .show-goods:hover ~.goods-info,
.goods-info:hover{
    height: 228px;
    border-top: 1px solid rgb(224,224,224);
    /* 设置阴影 */
    box-shadow: 0 5px 3px rgba(0,0,0,.2);
}
/* 设置搜素框的容器 */
.search-wrapper{
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 25px;
    border: 1px solid rgb(224,224,224);
    /* background-color: orchid; */
}
/* 设置搜索框 */
.search-wrapper .search-inp{
    float: left;
    width: 245px;
    height: 50px;
    border: none;
    box-sizing: border-box;
    padding:0 10px;
    color:#333;
    border-right: 1px solid rgb(224,224,224);
    /* background-color:red; */
}
/* 设置input获取焦点后的样式 */
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button{
    outline:1px solid#FF6700;
}
/* 设置搜索按钮 */
.search-wrapper .search-btn{
    float: left;
    width: 51px;
    height: 50px;
    border:none;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 18px;
    color: #616161;
}
/* 当鼠标移入搜索按钮 */
.search-wrapper .search-btn:hover{
    background-color: #FF6700;
    color: #fff;
}

/* 设置左侧导航栏右拉框 */
.phone-info,
.TV-info,
.homeApp-info{
    width: 992px;
    height: 0px;
    overflow: hidden;
    /* 针对左侧导航栏开启绝对定位 */
    position: absolute;
    background-color: #fff;
    z-index: 999;
    left:234px;
    top:0;
    box-sizing: border-box;
}
.note-info,
.travel-info,
.AI-info,
.health-info,
.headset-info,
.life-info{
    width: 796px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 999;
    left:234px;
    top:0;
    box-sizing: border-box;
}
.power-info{
    width: 533px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 999;
    left:234px;
    top:0;
    box-sizing: border-box;
}
/* 当鼠标移入商品时的样式 */
.left-menu .phone:hover .phone-info,
.left-menu .TV:hover .TV-info,
.left-menu .note:hover .note-info,
.left-menu .homeApp:hover .homeApp-info,
.left-menu .travel:hover .travel-info,
.left-menu .AI:hover .AI-info,
.left-menu .power:hover .power-info,
.left-menu .health:hover .health-info,
.left-menu .headset:hover .headset-info,
.left-menu .life:hover .life-info
{
    height: 460px;
    border: 1px solid rgb(224,224,224);
    /* 设置阴影 */
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}


/* 设置banner */
.banner{
    position: relative;
    height: 460px;
}
.banner .img-list a{
    position: absolute;
}
.banner img{
    width: 100%;
}
/* 轮播图中的点设计 */
.pointer{
    position: absolute;
    bottom: 25px;
    right: 35px;
}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    border:2px solid rgba(255,255,255,.4);
    border-radius: 50%;
    background-color: rgba(0,0,0,.4);
    margin-left: 6px;
}
.pointer a:hover,
.pointer a.active{
    border-color: rgba(0,0,0,.4);
    background-color:rgba(255,255,255,.4);
}
/* 轮播图中前后箭头设计 */
.prev-next a{
    width: 41px;
    height: 69px;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto 0;
    line-height: 69px;
    font-size: 50px;
    text-align: center;
    color:#ccc;
}
.prev-next .prev{
    left: 234px;
}
.prev-next .next{
    right: 0;
}
.prev-next a:hover{
    background-color: #616161;
    color: #fff;
}

/* 设置广告栏 */
.ad{
    height: 170px;
    margin-top: 14px;
    /* background-color: royalblue; */
}
.shotcut,
.ad-pic,
.ad li{
    float: left;
}
/* 设置左侧快捷方式 */
.ad .shotcut{
    width: 228px; 
    height: 168px; 
    background-color: #5f5750;
    margin-right: 14px;
    padding-top: 2px;
    padding-left: 6px;
}
/* 设置快捷方式中的超链接 */
.ad .shotcut a{
    display: block;
    width: 76px;
    height: 84px;
    color: #cfccca;
    font-size: 13px;
    text-align: center;
} 

.ad .shotcut a:hover{
    color: #fff;
}
/* 设置图标 */
.ad .shotcut i{
    display: block;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 6px;
}
/* 设置图片 */
.ad .ad-pic li{
    width: 316px;
    margin-right: 15px;
}
.ad .ad-pic li:last-child{
    margin: 0;
}
.ad .ad-pic li img{
    width: 100%;
}
.ad .shotcut li{
    position: relative;
}
/* 设置上边框 */
.ad .shotcut li::before{
    content:'';
    position: absolute;
    width: 64px;
    height: 1px;
    background-color: #665e57;
    left:0;
    top:0; 
    right:0;
    margin: 0 auto;
}

/* 设置右边框 */
.ad .shotcut li::after{
    content:'';
    position: absolute;
    width: 1px;
    height: 70px;
    background-color: #665e57;
    left:0;
    top:0;
    bottom:0;
    margin: auto 0;
}